*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-size: 24px;
}
html{
  background-color: #040204;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.error_message{
  font-size: 32px;
}

.puck{
  width: 300px;
}

.question_wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.question_text{
  font-size: 32px;
}

.answer_button{
  background-color: #040204;
  border: none;
  width: 50px;
  height: 30px;
  cursor: pointer;
  transition: .5s;
}
.answer_button:hover{
  background-color: #ffffff;
  color: #000000;
}
.answers{
  margin-top: 20px;
  display: flex;
  gap: 150px;
}

.final{
  text-align: center;
  background-color: #040204;
  border: none;
  width: 80%;
  height: 30px;
  cursor: pointer;
  transition: .5s;
}
.final:hover{
  background-color: #ffffff;
  color: #000000;
}